html, body {
  /* 100% height adds a small amount of scrolling */
  height: 99%;
  overflow-y: hidden;
}

#map {
  transition: height .3s ease;
}

.map-large {
  height: 96%;
}
.map-small {
  height: 56%;
}

.l-box-hide {
  height: 3%;
  text-align: center;
}
.l-box-show {
  height: 43%;
}

#toggler {
  min-height: 3vh;
  width: 100%;
}
